.project
*~
nbproject
*.sass-cache
*.err
*.log
publish
*.komodoproject
*.rej
Thumbs.db
*.diff
# Komodo
.cache
intermediate
ftpsync.settings
.DS_Store
.svn
.hg
*.orig
*.swp
*.swo
# OS or Editor folders
.tmproj
.komodotools
# Dreamweaver added files
.idea
# Folders to ignore
dwsync.xml
.settings
*.esproj
_notes
.CVS
# Numerous always-ignore extensions
*.vi
.git/ftpdata